// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$link-color: #02182B;
$accent-color: #00A6ED;
$primary-color: #868e96;

.btn-primary {
	background-color: $accent-color;
	border-color: $accent-color;
}

h1, h2, h3 {
	color: $accent-color;
}

a {
	color: $link-color;
}

body {
	color: $primary-color;
}

.site-footer {
	padding: .5rem 1rem;
}

#main-menu {
	text-transform: lowercase;

	a {
		color: $primary-color;
		&:hover {
			color: $accent-color;
		}
	}

}

.card {
	&.cdgd {
		width: 250px;
	}
}

.top-buffer:not(:first-child) { 
	margin-top: 30px;
}

.tml {
	max-width: none;

	p {
		margin-bottom: 0;
	}

	select, label {
		margin: 0;
	}
}